@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background-color: #f9fafb;
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
